In [1]:
import os
import pandas as pd
import re
import seaborn as sns
#import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook as tqdm
os.getcwd()

'C:\\Users\\nikch\\Python'

In [2]:
file =  open('train\\train.in','r')
txt = file.read()
txt = txt.split('\n')

In [3]:
keys = []
phrases = []
for element in txt:
    xxx = element.split(' ',1)
    keys.append(xxx[0])
    if len(xxx) == 1:
        phrases.append(None)
    else:
        phrases.append(xxx[1])
print(len(keys),len(phrases))
df = {'Key':keys,'phrases':phrases}
df = pd.DataFrame.from_dict(df)

15001 15001

In [4]:
df.head()

              Key                                            phrases
0  P00001606T0076  Comparison with alkaline phosphatases and 5-nu...
1  P00008171T0000  Pharmacologic aspects of neonatal hyperbilirub...
2  P00008997A0472  When CSF [HCO3-] is shown as a function of CSF...
3  P00010943A0733  Flurazepam thus appears to be an effective hyp...
4  P00012653T0045                              Beta blocking agents.

In [5]:
file_span =  open('train\\GENE.eval','r')
txt_span = file_span.read()
txt_span  = txt_span.split('\n')

In [6]:
keys_span = []
phrases_span = []
for element in txt_span:
    xxx = element.split('|')
    keys_span.append(xxx[0])
    if len(xxx) == 1:
        phrases_span .append(None)
    else:
        phrases_span.append(xxx[2])
df_span = {'Key':keys_span,'phrases':phrases_span}
df_span = pd.DataFrame.from_dict(df_span)

In [7]:
df_span.head()

              Key                          phrases
0  P00001606T0076            alkaline phosphatases
1  P00001606T0076                   5-nucleotidase
2  P00015731A0090               carbonic anhydrase
3  P00024600A0522                              HMG
4  P00027739T0000  Serum gamma glutamyltransferase

In [8]:
df.shape

(15001, 2)

In [9]:
df_test = df.iloc[0:7500]
df_test.head()

              Key                                            phrases
0  P00001606T0076  Comparison with alkaline phosphatases and 5-nu...
1  P00008171T0000  Pharmacologic aspects of neonatal hyperbilirub...
2  P00008997A0472  When CSF [HCO3-] is shown as a function of CSF...
3  P00010943A0733  Flurazepam thus appears to be an effective hyp...
4  P00012653T0045                              Beta blocking agents.

In [10]:
# def spanner(condition, string):
#         condition = re.escape(condition)
#         result = re.search(condition,string)
# #         if result is None:
# #             return None
# #         else:
#         return list(re.search(condition,string).span())
# def get_spans(genes, phrase):
#     result = []
#     if len(genes) > 1:
#         for item in genes:
#             result.append(spanner(item,phrase))
#         return result
#     if len(genes) == 1:
#             result.append(spanner(genes[0],phrase))
#             return result
#     else:
#         return []

In [17]:
def get_spans(genes, phrase):
    result = []
    if phrase == None:
        return result
    if len(genes) > 1:
        for item in genes:
            result.append([phrase.find(item),phrase.find(item)+len(genes[0])])
        return result
    elif len(genes) == 1:
        result.append([phrase.find(genes[0]),phrase.find(genes[0])+len(genes[0])])
        return result
    else:
        return result

In [18]:
#re.search(r'vacuolar H(+)-ATPase','Differential expression of the "B" subunit of the vacuolar H(+)-ATPase in bovine tissues.').span()
#re.search(r'vacuolar H','Differential expression of the "B" subunit of the vacuolar H(+)-ATPase in bovine tissues.').span()
#re.search(re.escape('vacuolar H(+)-ATPase'),'Differential expression of the "B" subunit of the vacuolar H(+)-ATPase in bovine tissues.').span()
#get_spans([re.escape('vacuolar H(+)-ATPase')],'Differential expression of the "B" subunit of the vacuolar H(+)-ATPase in bovine tissues.')
s ='Differential expression of the "B" subunit of the vacuolar H(+)-ATPase in bovine tissues.'
l = 'vacuolar H(+)-ATPase'
s.find(l),len(l)
s[50:70]

'vacuolar H(+)-ATPase'

In [21]:
df['Something'] = None
for index, row in df.iterrows():
    genes = df_span[df_span['Key'] == row['Key']]['phrases'].values
    phrase = row['phrases']
    df.loc[index]['Something'] = get_spans(genes, phrase)

In [22]:
df.head()

,Key,phrases,Something
0,P00001606T0076,Comparison with alkaline phosphatases and 5-nu...,"[[16, 37], [42, 63]]"
1,P00008171T0000,Pharmacologic aspects of neonatal hyperbilirub...,[]
2,P00008997A0472,When CSF [HCO3-] is shown as a function of CSF...,[]
3,P00010943A0733,Flurazepam thus appears to be an effective hyp...,[]
4,P00012653T0045,Beta blocking agents.,[]

In [37]:
df.rename(index=str,columns={'Something':'Gene_span'}, 
                inplace=True)

In [38]:
df.head()

,Key,phrases,Gene_span
0,P00001606T0076,Comparison with alkaline phosphatases and 5-nu...,"[[16, 37], [42, 63]]"
1,P00008171T0000,Pharmacologic aspects of neonatal hyperbilirub...,[]
2,P00008997A0472,When CSF [HCO3-] is shown as a function of CSF...,[]
3,P00010943A0733,Flurazepam thus appears to be an effective hyp...,[]
4,P00012653T0045,Beta blocking agents.,[]

In [39]:
df.to_csv('Biocreative2006.csv')