In [2]:
!pip install flair

Requirement already satisfied: flair in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (0.4.2)
Requirement already satisfied: tqdm>=4.26.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (4.28.1)
Collecting pytorch-pretrained-bert>=0.6.1 (from flair)
  Using cached https://files.pythonhosted.org/packages/d7/e0/c08d5553b89973d9a240605b9c12404bcf8227590de62bae27acbcfe076b/pytorch_pretrained_bert-0.6.2-py3-none-any.whl
Requirement already satisfied: mpld3==0.3 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (0.3)
Requirement already satisfied: gensim>=3.4.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (3.6.0)
Requirement already satisfied: bpemb>=0.2.9 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (0.3.0)
Requirement already satisfied: tabulate in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (0.8.2)
Requirement already satisfied: sqlitedict>=1.6.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (1.6.0)
Requirement already satisfied: sklearn in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (0.0)
Requirement already satisfied: torch>=1.0.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (1.1.0)
Requirement already satisfied: urllib3<1.25,>=1.20 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (1.24.1)
Requirement already satisfied: hyperopt>=0.1.1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (0.1.2)
Requirement already satisfied: regex in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (2019.6.8)
Requirement already satisfied: matplotlib>=2.2.3 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (3.1.0)
Requirement already satisfied: segtok>=1.5.7 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (1.5.7)
Requirement already satisfied: pytest>=3.6.4 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (4.6.3)
Requirement already satisfied: deprecated>=1.2.4 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from flair) (1.2.5)
Requirement already satisfied: requests in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytorch-pretrained-bert>=0.6.1->flair) (2.20.1)
Requirement already satisfied: boto3 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytorch-pretrained-bert>=0.6.1->flair) (1.9.59)
Requirement already satisfied: numpy in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytorch-pretrained-bert>=0.6.1->flair) (1.15.4)
Requirement already satisfied: six>=1.5.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from gensim>=3.4.0->flair) (1.11.0)
Requirement already satisfied: smart-open>=1.2.1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from gensim>=3.4.0->flair) (1.7.1)
Requirement already satisfied: scipy>=0.18.1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from gensim>=3.4.0->flair) (1.1.0)
Requirement already satisfied: sentencepiece in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from bpemb>=0.2.9->flair) (0.1.82)
Requirement already satisfied: scikit-learn in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from sklearn->flair) (0.20.1)
Requirement already satisfied: pymongo in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from hyperopt>=0.1.1->flair) (3.8.0)
Requirement already satisfied: future in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from hyperopt>=0.1.1->flair) (0.17.1)
Requirement already satisfied: networkx in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from hyperopt>=0.1.1->flair) (2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from matplotlib>=2.2.3->flair) (2.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from matplotlib>=2.2.3->flair) (2.7.5)
Requirement already satisfied: cycler>=0.10 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from matplotlib>=2.2.3->flair) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from matplotlib>=2.2.3->flair) (1.0.1)
Requirement already satisfied: atomicwrites>=1.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (1.3.0)
Requirement already satisfied: attrs>=17.4.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (18.2.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (0.12.0)
Requirement already satisfied: py>=1.5.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (1.8.0)
Requirement already satisfied: packaging in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (18.0)
Requirement already satisfied: more-itertools>=4.0.0; python_version > "2.7" in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (7.0.0)
Requirement already satisfied: wcwidth in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (0.1.7)
Requirement already satisfied: importlib-metadata>=0.12 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from pytest>=3.6.4->flair) (0.18)
Requirement already satisfied: wrapt<2,>=1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from deprecated>=1.2.4->flair) (1.10.11)
Requirement already satisfied: idna<2.8,>=2.5 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from requests->pytorch-pretrained-bert>=0.6.1->flair) (2.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from requests->pytorch-pretrained-bert>=0.6.1->flair) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from requests->pytorch-pretrained-bert>=0.6.1->flair) (2018.11.29)
Requirement already satisfied: botocore<1.13.0,>=1.12.59 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from boto3->pytorch-pretrained-bert>=0.6.1->flair) (1.12.59)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from boto3->pytorch-pretrained-bert>=0.6.1->flair) (0.9.3)
Requirement already satisfied: s3transfer<0.2.0,>=0.1.10 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from boto3->pytorch-pretrained-bert>=0.6.1->flair) (0.1.13)
Requirement already satisfied: boto>=2.32 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from smart-open>=1.2.1->gensim>=3.4.0->flair) (2.49.0)
Requirement already satisfied: bz2file in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from smart-open>=1.2.1->gensim>=3.4.0->flair) (0.98)
Requirement already satisfied: decorator>=4.3.0 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from networkx->hyperopt>=0.1.1->flair) (4.3.0)
Requirement already satisfied: setuptools in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.2.3->flair) (39.0.1)
Requirement already satisfied: zipp>=0.5 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from importlib-metadata>=0.12->pytest>=3.6.4->flair) (0.5.1)
Requirement already satisfied: docutils>=0.10 in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.59->boto3->pytorch-pretrained-bert>=0.6.1->flair) (0.14)
Installing collected packages: pytorch-pretrained-bert
  Found existing installation: pytorch-pretrained-bert 0.4.0
    Uninstalling pytorch-pretrained-bert-0.4.0:
      Successfully uninstalled pytorch-pretrained-bert-0.4.0
Successfully installed pytorch-pretrained-bert-0.6.2

In [3]:
!pip install tqdm

Requirement already satisfied: tqdm in /root/.pyenv/versions/3.6.7/lib/python3.6/site-packages (4.28.1)

In [21]:
#import flair
from tqdm import tqdm
import pandas as pd

In [11]:
import os
os.getcwd()

'/notebook/biomed/biomed_ie/src'

In [57]:
#file = open('../data/conll2003/conll2003/eng.testa.txt','r')
file = open('../data/conll2003/conll2003/eng.testb.txt','r')
#file = open('../data/conll2003/conll2003/eng.train.txt','r')
txt = file.read()
txt = txt.split('\n')
#txt = [x for x in txt if x != '-DOCSTART- -X- O O']

In [58]:
def appender(text_list):
    sentence = ' '.join(word for word in text_list)
    return sentence
text_list=[]
tag0_list =[]
tag1_list =[]
tag2_list =[]

corpus = []
tag0 =[]
tag1 = []
tag2 = []

for i in range(len(txt)):
    words = txt[i].split(' ')
    if txt[i] != '':
        #print(words[0],words[1],words[2],words[3])
        text_list.append(words[0])
        tag0_list.append(words[1])
        tag1_list.append(words[2])
        tag2_list.append(words[3])
    if txt[i] == '':
        corpus.append(appender(text_list))
        text_list = []
        tag0.append(appender(tag0_list))
        tag0_list = []
        tag1.append(appender(tag1_list))
        tag1_list =[]
        tag2.append(appender(tag2_list))
        tag2_list = []

In [59]:
entitylist = ['I-ORG','I-MISC','I-PER']

In [60]:
def numbers(tag2,criteria):
    rez = []
    i = 0
    mass=[]
    for element in tag2:
        test = element.split(' ')
        for element2 in test:
            if element2 == criteria:
                mass.append(i)
            i+=1
        i = 0
        rez.append(mass)
        mass = []
    return(rez)
something = numbers(tag2,'I-ORG')
#print(something)

In [61]:
def spander(j,number):
    mas = []
    i = 0
    kon_v = len(corpus[j].split(' ')[number])
    for idx, item in enumerate(corpus[j]):
        if number == 0:
            mas.append(0)
            mas.append(kon_v)
            return mas
        if item == ' ':
            i += 1
        if number == i:
            mas.append(idx+1)
            mas.append(idx+kon_v+1)
            return(mas)
#print(spander(3,14))

In [62]:
#print(something)
def final_span(Tag):
    List1 = []
    mas1 = []
    for idx, element in enumerate(numbers(tag2,Tag)):
        #print(element)
        if element == []:
            List1.append([])
        if len(element) == 1:
            List1.append([spander(idx,element[0])])
        if len(element) > 1:
            for i in element:
                mas1.append((spander(idx,i)))
            List1.append(mas1)
            mas1 = []
    return List1
#print(List1)

In [63]:
List1 = final_span('I-MISC')
List2 = final_span('I-ORG')
List3 = final_span('I-PER')

In [64]:
data =  {'Corpus':corpus,'Tag':tag2,'I-ORG':List2,'I-MISC':List1,'I-PER':List3}
df = pd.DataFrame(data) 
df.head()

,Corpus,Tag,I-ORG,I-MISC,I-PER
0,-DOCSTART-,O,[],[],[]
1,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...",O O I-LOC O O O O I-PER O O O O,[],[],"[[31, 36]]"
2,Nadim Ladki,I-PER I-PER,[],[],"[[0, 5], [6, 11]]"
3,"AL-AIN , United Arab Emirates 1996-12-06",I-LOC O I-LOC I-LOC I-LOC O,[],[],[]
4,Japan began the defence of their Asian Cup tit...,I-LOC O O O O O I-MISC I-MISC O O O O O O O I-...,[],"[[33, 38], [39, 42]]",[]

In [65]:
doc_ids = []
t = 0
for i in corpus:
    if i == '-DOCSTART-':
        t+=1
        doc_ids.append(t)
    else:
        doc_ids.append(t)

In [66]:
#data =  {'Corpus':corpus,'Tag':tag2,'I-ORG':List2,'I-MISC':List1,'I-PER':List3,'doc_ids':doc_ids}
#df = pd.DataFrame(data) 
#df.head()

In [67]:
print(corpus[3][0:4])

AL-A

In [68]:
df.iloc[:25]

,Corpus,Tag,I-ORG,I-MISC,I-PER
0,-DOCSTART-,O,[],[],[]
1,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...",O O I-LOC O O O O I-PER O O O O,[],[],"[[31, 36]]"
2,Nadim Ladki,I-PER I-PER,[],[],"[[0, 5], [6, 11]]"
3,"AL-AIN , United Arab Emirates 1996-12-06",I-LOC O I-LOC I-LOC I-LOC O,[],[],[]
4,Japan began the defence of their Asian Cup tit...,I-LOC O O O O O I-MISC I-MISC O O O O O O O I-...,[],"[[33, 38], [39, 42]]",[]
5,But China saw their luck desert them in the se...,O I-LOC O O O O O O O O O O O O O O O O O O O ...,[],[],[]
6,China controlled most of the match and saw sev...,I-LOC O O O O O O O O O O O O O O O I-MISC O I...,[],"[[93, 98], [205, 212]]","[[107, 111], [112, 120]]"
7,Oleg Shatskiku made sure of the win in injury ...,I-PER I-PER O O O O O O O O O O O O O O O O O ...,[],[],"[[0, 4], [5, 14]]"
8,The former Soviet republic was playing in an A...,O O I-MISC O O O O O I-MISC I-MISC O O O O O O O,[],"[[11, 17], [45, 50], [51, 54]]",[]
9,Despite winning the Asian Games title two year...,O O O I-MISC I-MISC O O O O O I-LOC O O O O O O O,[],"[[20, 25], [26, 31]]",[]
10,Two goals from defensive errors in the last si...,O O O O O O O O O O O I-LOC O O O O O O O O O ...,[],[],[]
11,Takuya Takagi scored the winner in the 88th mi...,I-PER I-PER O O O O O O O O O O O O I-PER I-PE...,[],"[[109, 115]]","[[0, 6], [7, 13], [70, 79], [80, 90], [138, 14..."
12,It was the second costly blunder by Syria in f...,O O O O O O O I-LOC O O O O,[],[],[]
13,Defender Hassan Abbas rose to intercept a long...,O I-PER I-PER O O O O O O O O O O O O O O O O ...,[],[],"[[9, 15], [16, 21], [138, 143]]"
14,Nader Jokhadar had given Syria the lead with a...,I-PER I-PER O O I-LOC O O O O O O O O O O O,[],[],"[[0, 5], [6, 14]]"
15,Japan then laid siege to the Syrian penalty ar...,I-LOC O O O O O I-MISC O O O O O O O O O O O I...,[],"[[29, 35], [94, 100]]",[]
16,Bitar pulled off fine saves whenever they did .,I-PER O O O O O O O O,[],[],"[[0, 5]]"
17,Japan coach Shu Kamo said : ' ' The Syrian own...,I-LOC O I-PER I-PER O O O O O I-MISC O O O O O...,[],"[[36, 42]]","[[12, 15], [16, 20]]"
18,The Syrians scored early and then played defen...,O I-MISC O O O O O O O O O O O O O O O O O O,[],"[[4, 11]]",[]
19,',O,[],[],[]
20,"Japan , co-hosts of the World Cup in 2002 and ...",I-LOC O O O O I-MISC I-MISC O O O O O O O O O ...,"[[74, 78]]","[[24, 29], [30, 33]]",[]
21,Hosts UAE play Kuwait and South Korea take on ...,O I-LOC O I-LOC O I-LOC I-LOC O O I-LOC O O O ...,[],[],[]
22,All four teams are level with one point each f...,O O O O O O O O O O O O O,[],[],[]
23,-DOCSTART-,O,[],[],[]
24,RUGBY UNION - CUTTITTA BACK FOR ITALY AFTER A ...,I-ORG I-ORG O I-PER O O I-LOC O O O O,"[[0, 5], [6, 11]]",[],"[[14, 22]]"

In [69]:
df.shape

(3686, 5)

In [70]:
df2 = df[df['Corpus'] != '-DOCSTART-']

In [71]:
df2.head()

,Corpus,Tag,I-ORG,I-MISC,I-PER
1,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...",O O I-LOC O O O O I-PER O O O O,[],[],"[[31, 36]]"
2,Nadim Ladki,I-PER I-PER,[],[],"[[0, 5], [6, 11]]"
3,"AL-AIN , United Arab Emirates 1996-12-06",I-LOC O I-LOC I-LOC I-LOC O,[],[],[]
4,Japan began the defence of their Asian Cup tit...,I-LOC O O O O O I-MISC I-MISC O O O O O O O I-...,[],"[[33, 38], [39, 42]]",[]
5,But China saw their luck desert them in the se...,O I-LOC O O O O O O O O O O O O O O O O O O O ...,[],[],[]

In [72]:
#dataset_path = '../data/conll2003/conll2003/conll_train.json'
#dataset_path = '../data/conll2003/conll2003/conll_test_a.json'
dataset_path = '../data/conll2003/conll2003/conll_test_b.json'
df2.to_json(dataset_path)

In [73]:
dataset_path = '../data/conll2003/conll2003/conll_train.json'
dataset1 = pd.read_json(dataset_path)
print(dataset1.shape)
dataset1.head()

(14042, 5)

,Corpus,Tag,I-ORG,I-MISC,I-PER
1,EU rejects German call to boycott British lamb .,I-ORG O I-MISC O O O I-MISC O O,"[[0, 2]]","[[11, 17], [34, 41]]",[]
10,But Fischler agreed to review his proposal aft...,O I-PER O O O O O O O I-ORG O O O O O O O O O ...,"[[53, 55]]",[],"[[4, 12]]"
100,Port conditions from Lloyds Shipping Intellige...,O O O I-ORG I-ORG I-ORG I-ORG O,"[[21, 27], [28, 36], [37, 49], [50, 57]]",[],[]
1000,SOCCER - UEFA REWARDS THREE COUNTRIES FOR FAIR...,O O I-ORG O O O O O O O,"[[9, 13]]",[],[]
10000,* Conglomerate Bollore lost 2.4 percent to 521...,O O I-ORG O O O O O O O O O O O O O O O O O O ...,"[[15, 22], [182, 186], [187, 193], [194, 203],...",[],[]

In [74]:
dataset1.iloc[25:50]

,Corpus,Tag,I-ORG,I-MISC,I-PER
10020,Excise Commissioner W.N.F. Chandraratne denies...,O O I-PER I-PER O O O O O O O O O O O O O O O ...,[],[],"[[20, 26], [27, 39]]"
10021,---,O,[],[],[]
10022,LANKADEEPA,I-ORG,"[[0, 10]]",[],[]
10023,Tamil Tiger rebels have sent 12 female suicide...,I-ORG I-ORG O O O O O O O O O O O O O I-PER I-...,"[[0, 5], [6, 11]]",[],"[[98, 107], [108, 119]]"
10024,---,O,[],[],[]
10025,DIVAINA,I-ORG,"[[0, 7]]",[],[]
10026,Cultural Ministry planning to spend large sum ...,O O O O O O O O O O O O O O O O O O O O O O O ...,[],[],[]
10027,---,O,[],[],[]
10028,DINAMINA,I-ORG,"[[0, 8]]",[],[]
10029,Government closes Ruhunu University indefinite...,O O I-ORG I-ORG O O O O O O O O O O O O O O O O O,"[[18, 24], [25, 35]]",[],[]
1003,Norway headed the UEFA Fair Play rankings for ...,I-LOC O O I-MISC I-MISC I-MISC O O O O O O O O...,[],"[[18, 22], [23, 27], [28, 32]]",[]
10030,-- Colombo newsroom tel 941-434319,O I-LOC O O O,[],[],[]
10032,Mother Teresa turns 86 but still in danger .,I-PER I-PER O O O O O O O,[],[],"[[0, 6], [7, 13]]"
10033,Rupam Banerjee,I-PER I-PER,[],[],"[[0, 5], [6, 14]]"
10034,CALCUTTA 1996-08-27,I-LOC O,[],[],[]
10035,Mother Teresa spent her 86th birthday in a Cal...,I-PER I-PER O O O O O O I-LOC O O O O O O O O ...,[],[],"[[0, 6], [7, 13]]"
10036,Doctors said that later in the day they would ...,O O O O O O O O O O O O O I-MISC I-MISC I-MISC...,[],"[[62, 67], [68, 73], [74, 79]]",[]
10037,""" Her condition seems to be better , but the d...",O O O O O O O O O O O O O O O O O O O O O O O ...,[],[],[]
10038,She is conscious but her breathing is irregula...,O O O O O O O O O O,[],[],[]
10039,The revered Roman Catholic nun was admitted to...,O O I-MISC I-MISC O O O O O I-LOC I-LOC O O O ...,[],"[[12, 17], [18, 26]]",[]
1004,The rankings are based on a formula that takes...,O O O O O O O O O O O O O O O O O O O O O O O ...,[],[],[]
10040,She later suffered heart failure and was diagn...,O O O O O O O O O O O,[],[],[]
10041,Her fever has since abated and the heart failu...,O O O O O O O O O O O O O O O O O O O O O O O ...,[],[],[]
10042,""" Unless she breathes on her own , I would adv...",O O O O O O O O O O O O O O O O O O O O O O O ...,[],[],"[[177, 183], [184, 190]]"
10043,"The nun 's birthday prompted greetings , bouqu...",O O O O O O O O O O O O O O O,[],[],[]